.leaflet-div-icon {
    border: unset !important;
}

.map-pin {
    position: absolute;
    left: -8px;
    top: -8px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

.map-pin-green {
    background-color: rgb(156, 216, 78, .75);
    color: rgba(0, 0, 0, .6);
}

.map-pin-yellow {
    background-color: rgb(250, 207, 57, .75);
    color: rgba(0, 0, 0, .6);
}

.map-pin-orange {
    background-color: rgb(249, 144, 73, .75);
    color: rgba(0, 0, 0, .6);
}

.map-pin-red {
    background-color: rgb(246, 94, 95, .75);
    color: rgba(255, 255, 255, .6);
}

.map-pin-purple {
    background-color: rgb(160, 112, 182, .75);
    color: rgba(255, 255, 255, .6);
}

.map-pin-maroon {
    background-color: rgb(160, 106, 123, .75);
    color: rgba(255, 255, 255, .6);
}

.aqi-green {
    background-color: #a8e05f !important;
    color: #607631;
}

.aqi-yellow {
    background-color: #fdd64b !important;
    color: #8c6c1d;
}

.aqi-orange {
    background-color: #ff9b57 !important;
    color: #974a20;
}

.aqi-red {
    background-color: #fe6a69 !important;
    color: #942431;
}

.aqi-purple {
    background-color: #a97abc !important;
    color: #543b63;
}

.aqi-maroon {
    background-color: #a87383 !important;
    color: #543b63;
}

.aqi-box-green {
    background-color: #87c13c !important;
    color: #fff;
}

.aqi-box-yellow {
    background-color: #efbe1d !important;
    color: #fff;
}

.aqi-box-orange {
    background-color: #f27e2f !important;
    color: #fff;
}

.aqi-box-red {
    background-color: #e84b50 !important;
    color: #fff;
}

.aqi-box-purple {
    background-color: #8a5d9d !important;
    color: #fff;
}

.aqi-box-maroon {
    background-color: #915c6c !important;
    color: #fff;
}