.leaflet-div-icon {
    border: unset !important;
}

.map-pin {
    position: absolute;
    left: -8px;
    top: -8px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

.map-pin-green {
    background-color: rgb(156, 216, 78, .75);
    color: rgba(0, 0, 0, .6);
}

.map-pin-yellow {
    background-color: rgb(250, 207, 57, .75);
    color: rgba(0, 0, 0, .6);
}

.map-pin-orange {
    background-color: rgb(249, 144, 73, .75);
    color: rgba(0, 0, 0, .6);
}

.map-pin-red {
    background-color: rgb(246, 94, 95, .75);
    color: rgba(255, 255, 255, .6);
}

.map-pin-purple {
    background-color: rgb(160, 112, 182, .75);
    color: rgba(255, 255, 255, .6);
}

.map-pin-maroon {
    background-color: rgb(160, 106, 123, .75);
    color: rgba(255, 255, 255, .6);
}