<body style="background-image: url('/assets/img/background1.png'); background-size: cover; background-position: center; background-color: #f0f0f0;">
<div class="header">
  <h1 class="title" style="text-align: center; position:relative; top: 75px ; font-weight: bold; color: black; font-size : 100px" >AQIREC</h1>
  <h2 class="title" style="text-align: center; position:relative; top: 100px ; color: black; font-size: 30px;" >Indonesia Air Quality Map</h2>
</div>

<div class="container" style="position: absolute; max-width: unset; width: 100%; height: 80%; display: table;">
  <div style="display: table-cell; vertical-align: middle;">
    <div class="card shadow-custom" style="width: 480px; height: auto; border-radius: 15px; margin: auto; overflow: hidden; margin-top: 50px;">
      <div class="row">
        <div class="col-12 bg-primary" style="height: auto;">
          <h2 class="mt-3 text-center text-white">Login</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex" style="margin: 40px !important;">
            <div class="w-100">
              <form [formGroup]="loginForm">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-login" formControlName="email" id="email" placeholder="Your Email" (keyup.enter)="login()" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <div style="width: 100%;">
                    <i [ngClass]="look ? 'fa fa-eye icon' : 'fa fa-eye-slash icon'" style="color: #007bff; position: absolute; margin: 16px 360px; cursor: pointer;" (click)="look = !look"></i>
                    <input [type]="look ? 'text' : 'password'" class="form-login" formControlName="password" id="password" placeholder="Your Password" (keyup.enter)="login()" required>
                  </div>
                </div>
              </form>
              <button type="button" class="btn btn-primary mt-4 w-100" style="font-size: 14px; border-radius: 20px;" (click)="login()">Login</button>
              <div class="form-group mb-0">
                <div class="row">
                  <div class="col-8 mt-2">
                    <div class="align-bottom">
                      Don't have account? <a href="/register">Sign Up</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
